{{ 'featured-bar.css' | asset_url | stylesheet_tag }}


  <section>
  <!-- Featured Bar -->
  {%- if section.settings.show-section-featured-bar -%}
    <div class="featured-bar">
      <div class="featured-bar-container container">
        <div class="featured-bar-items">
          {% for featured-bar-item in section.blocks %}
            <!--Featured Bar Items-->
            <div class="featured-bar-featured-item">
              <span>
                {% if featured-bar-item.settings.section-featured-item-icon != blank %}
                  <img
                    src="{{ featured-bar-item.settings.section-featured-item-icon | img_url: 'master' }}"
                    alt=""
                    style="width: {{- featured-bar-item.settings.section-featured-item-icon-resize -}}px;" />
                {% endif %}
              </span>
              {% if featured-bar-item.settings.section-featured-item-text != blank %}
                <p>{{ featured-bar-item.settings.section-featured-item-text }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {%- endif -%}
</section>


{% schema %}
  {
    "name": "Featured Bar",
    "tag": "section",
    "class": "section-featured-bar",
    "settings": [
      {
        "type": "checkbox",
        "label": "Show / Hide Featured Bar",
        "id": "show-section-featured-bar",
        "default": true
      }
    ],
    "blocks": [
      {
        "name": "Item",
        "type": "item",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "label": "Featured Icon",
            "id": "section-featured-item-icon"
          }, {
            "type": "text",
            "label": "Featured Text",
            "id": "section-featured-item-text"
          }, {
            "type": "range",
            "label": "Image resize",
            "id": "section-featured-item-icon-resize",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "px",
            "default": 18
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Bar"
      }
    ]
  }
{% endschema %}