{{ 'base.css' | asset_url | stylesheet_tag }}
<div class="reset-password-wrapper customer-form-wrapper">
  <div class="reset-password-container container customer-form-container">
    <!--Form -->
    <div class="reset-password customer-form">
      <h3>Reset account password</h3>
      <p>Enter a new password</p>
      {% form 'reset_customer_password' %}
        <!--New password-->
        <div class="reset-new-password-group customer-form-group">
          <label for="password">Password</label>
          <span class="customer-form-input">
            <input
              type="password"
              name="customer[password]"
              placeholder="Password"
              required
              id="password" />
          </span>
        </div>
        <!--confirm New password-->
        <div class="reset-confirm-new-password-group customer-form-group">
          <label for="password_confirmation">Confirm password</label>
          <span class="customer-form-input">
            <input
              type="password"
              name="customer[password_confirmation]"
              placeholder="Confirm password"
              required
              id="password_confirmation" />
          </span>
        </div>
        <button class="reset-password-btn customer-form-submit order-now-btn">Reset password</button>
      {% endform %}
    </div>
  </div>
</div>