/* featured Single Product Start Here */
.featured-single-product {
  background-color: #fef7ec;
  padding: 35px 0 35px;
}

/* Delet this  */
.featured-single-product-i-series {
  background-color: #e4ebfc;
}
/* Delet this  */

.featured-single-product .product-name-tag {
  font-size: 20px;
  color: #000;
  padding-bottom: 8px;
}
.featured-single-product .product-name-tagline {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  padding-bottom: 2rem;
}
.featured-single-product .featured-single-product-content {
  text-align: center;
}
.featured-single-product .featured-single-product-mobile-img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.featured-single-product .featured-single-product-content .product-text {
  font-size: 16px;
  color: #000;
  font-weight: 300;
  text-align: left;
  margin-bottom: 3rem;
  display: none;
}
.featured-single-product .featured-single-product-featured-list {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 0px 2rem;
}
.featured-single-product
  .featured-single-product-featured-list
  .featured-single-product-featured-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-single-product
  .featured-single-product-featured-list
  .featured-single-product-featured-heading
  svg {
  color: #4a4a4a;
}
.featured-single-product
  .featured-single-product-featured-list
  .featured-single-product-featured-heading
  p {
  font-size: 14px;
  color: #4a4a4a;
  padding-left: 8px;
}
.featured-single-product .featured-single-product-featured-item h6 {
  color: #000;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}
.featured-single-product .featured-single-product-content .order-now-btn {
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  /* Feature Single Product Start Here */
  .featured-single-product {
    padding: 5rem 0px;
  }
  .featured-single-product .featured-single-product-container {
    display: flex;
    align-items: center;
  }
  .featured-single-product .featured-single-product-featured-list {
    justify-content: unset;
  }
  .featured-single-product .featured-single-product-mobile-img {
    display: none;
  }
  .featured-single-product .featured-single-product-media {
    display: block;
    flex: 50%;
    padding-right: 1rem;
  }
  .featured-single-product .featured-single-product-media img {
    width: 500px;
    height: auto;
  }
  .featured-single-product .featured-single-product-content {
    text-align: left;
    flex: 50%;
  }
  .featured-single-product .product-name-tagline {
    padding-bottom: 1rem;
  }
  .featured-single-product .featured-single-product-content .product-text {
    display: block;
  }
  .featured-single-product .featured-single-product-featured-item {
    padding-right: 2rem;
  }
  .featured-single-product .featured-single-product-content .order-now-btn {
    margin-top: 0;
  }
}

@media only screen and (min-width: 900px) {
  /* featured Single Product Start Here */
  .featured-single-product .featured-single-product-featured-item {
    padding-right: 4rem;
  }
}
